@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');

body {
    background-color: #064677;
    font-family: Nova Round;
}

/*HEADER*/

#logo {
    height: 100px; 
    width: 85px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
}
  
.flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin-left: 65px;
    margin-top: 5px;
    margin-bottom: 10px;
}
  
.flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin-right: 75px;
    margin-top: 40px;
    color: whitesmoke;
    font-size: 20px;
}

a:link {
    text-decoration: none;
    color: whitesmoke;
}

a:visited {
    color: whitesmoke;
}

a:hover {
    transform: scale(1.08);
    transition: transform 0.5s ease-in-out;
    border: 2px #042d4d solid;
    background-color: #042d4d;
    padding: 7px;
}

a:active {
    transform: scale(1.08);
    transition: transform 0.5s ease-in-out;
    border: 2px #02192b solid;
    background-color: #02192b;
    padding: 9px;
}

hr {
    background-color: whitesmoke;
}

/*carrusel*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#carousel-container {
    width: 100%;
    overflow: hidden;
}

#carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 1000px;
}

/* Flechas de navegación */

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    outline: none;
    transition: background-color 0.3s ease;
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#prev-btn {
    left: 0;
}

#next-btn {
    right: 0;
}

/*CARDS*/

h2 {
    text-align: center;
    color: whitesmoke;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 35px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cartas {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Nova Round;
}

.card {
    width: 370px;
    background-color: whitesmoke;
    border-radius: 8px;
    overflow: hidden;
    margin: 18px;
    transition: transform 0.3s ease-in-out;
    padding: 20px 15px 20px 15px;
    font-family: Nova Round;
}

.uno {
    padding: 35px 15px 35px 15px;
}

.card:hover {
    transform: scale(1.05);
}

.card-content {
    padding: 20px;
}

.card-content a {
    color: goldenrod;
    background-color: #064677;
    padding: 7px;
    margin-left: 160px;
}

.card-title {
    text-align: center;
    height: 200px;
    width: 300px;
}

.card-description {
    color: #042d4d;
    margin-top: 10px;
}

/*REDES*/

.image-container {
    display: flex;
    width: 200px;
    margin-left: 700px;
    text-align: center;
    margin-bottom: 50px;
}

.image-container img {
    margin-right: 25px; 
    height: 80px;
    width: 90px;
    border-radius: 100px;
}

/*FOOTER*/

#redes a{
    color: goldenrod;
    text-decoration: solid;
    background-color: #064677;
    padding: 7px;
}

#redes {
    margin-left: 685px;
}

footer {
    background-color: whitesmoke;
    color: #042d4d;
}

.footerIm {
    display: flex;
    width: 200px;
    margin-left: 860px;
}

.dos {
    margin-left: 750px;
}

.tres {
    margin-left: 800px;
}

.footerIm img {
    margin-right: 25px; 
    height: 80px;
    width: 90px;
}

h4 {
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

footer hr{
    background-color: #042d4d;
}

footer p {
    text-align: center;
    font-size: 25px;
}

