@import url('https://fonts.googleapis.com/css2? family= Bitter & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Barlow+Condensed & display=swap');

body{
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/496/954/desktop-wallpaper-dark-blue-dark-navy-blue.jpg");
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    font-family: 'Bitter', serif;
    font-size: 40px;
}

.titulo{
    font-family: 'Bitter', serif;
    font-size: 40px;
    margin: 0px;
    margin-top: 20px;
    margin-left: 25px;
}

.espacio{
    margin-left: 35px;
}

h2{
    font-family: 'Barlow Condensed', sans-serif;
}

/* header */

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  
  .flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin-left: 130px;
  }
  
  .flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin-right: 130px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
}



/* Estilos para el menú desplegable */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* article con la cancha */

.flex-container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    place-items: center;
    background-image: url("./Captura.PNG");
    background-repeat: no-repeat;
    padding-bottom: 200px;
    margin-top: 30px;
    margin-left: 10px;
    
}
  
.flex-items2:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    margin-top: 440px;
    margin-left: 150px;
}

button{
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/496/954/desktop-wallpaper-dark-blue-dark-navy-blue.jpg");
    color: white;
    margin: 0px;
    height: 30px;
    width: 100px;
}

/* titulos */

:root {
  --background: url("https://e1.pxfuel.com/desktop-wallpaper/496/954/desktop-wallpaper-dark-blue-dark-navy-blue.jpg");
  --background-card: url("https://colorsurfaces.mx/img/Gallery/Color-Surfaces-Rojo-Grana-Close-up.jpg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background{
  background-color: var(--background);
  display: grid;
  place-items: center;
  height: 50vh;
}

.gallery{
  display: flex;
  left: calc(50% - 330px)
}

.card{
  position: relative;
  left: 0px;
  width: 300px;
  height: 400px;
  background-color: var(--background-card);
  border-radius: 8px;
  transition: 1s ease-in-out;
  overflow: hidden;
}

.card:not(:first-child){
  margin-left: -45px;
}

.card:hover{
  transform: translateY(-16px);
  font-weight: bold;
  cursor: pointer;
}

.card:hover ~ .card{
  left: 55px;
}

.card img{
  height: 400px;
  object-fit: cover;
  border-radius: 4px;
}

/* fecha */

.flex-container4 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: white;
}

.flex-items4:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  margin-top: 5px;
}

.flex-items4:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items4:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

/* stats */

.flex-container5 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: white;
  place-items: center;
  height: 600px;
  width: 1200px;
  padding: 20px;
  margin: auto;
  border-radius: 15px;
}

.flex-items5:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  margin-right: 15px;
}

.flex-items5:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  margin-left: 15px;
}

th{
  color:#002960;
  text-align: center;
}

td{
  color:#002960;
  text-align: center;
}

/* footer */

footer{
  background-color: whitesmoke;
  color:#002960;
  text-align: center;
}

.a{
  color:#002960;
}