@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Quicksand:wght@300..700&display=swap');

body {
    scrollbar-color: #1cd8d2 #333;
    background-color: black;
    font-family: Quicksand;
}

img {
    height: 930px;
    width: 100%;
}